<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="PhotoAndVideoPolicy,SelectedPhotoAccess" />

    <queries>
        <package android:name="com.google.android.gms" />
    </queries>

    <application
        android:name=".data.presence.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinancialTracker"
        tools:targetApi="31" >
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <activity android:name=".ui.activities.ChatActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.activities.FriendsActivity" />
        <activity android:name=".ui.activities.ExpenseActivity" />
        <activity android:name=".ui.activities.IncomeActivity" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.RegisterActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.activities.AccountActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.activities.SettingsActivity" />
        <activity android:name=".ui.activities.AddExpenseActivity" />
        <activity android:name=".ui.activities.AddIncomeActivity" />
        <activity android:name=".ui.activities.MainActivity" />
    </application>
</manifest>